video{
	object-fit: cover;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	z-index: 1;
	border-bottom: 2px solid aqua;
}
.hs-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height:100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: contain;
	
	
}
.hs-container h1{
	position: absolute;
	z-index: 3;
	top: 50%;
	font-size: calc(32px + 22*(100vw/1450));
	text-align: center;
	color: aquamarine;
	text-shadow: 0 0 5px  aquamarine;
	
	
}