

.container{
 max-width: 1450px;
 display: flex;
}
.home{
	overflow: hidden;
	margin-top: 150px;
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 0 auto;
}

.s_about{
	padding: 0 30px;
	flex-direction: row;
	align-items:center;
	justify-content: space-around;
	
}

.text{
	padding-right: 30px;
	text-align: left;
	line-height: 1.5;
	color: whitesmoke;
	width: 50%;
	& p{
		font-size: calc(10px + 12*(100vw/1450));
		display: block;
	}
}
.title{
	font-size: calc(30px + 20*(100vw/1450));
	
	margin-bottom: 5vh;
}


.item {
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.item_left{
	height: 80px;
	width: 20px;
	border: 2px solid aquamarine;
	border-right: 0;
}
.item_check{
	margin: 0 18px 0 18px;
	background: url(../components/img/check.webp) 0 0/cover no-repeat;
	height: 80px;
	width: 64px;

}
.item_right{
	font-size: calc(11px + 5*(100vw/1450));
	line-height: 1.5;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 5px 15px 5px 36px;
	height: 80px;
	width: 60%;
	border: 2px solid aquamarine;
	border-left: 0;
}


@media screen and (max-width: 960px){
		
		.text{
			width: 100%;
			& p{
			display: none;
			}
		}
		.container{
			flex-direction: column;
		}

}
@media screen and (max-width: 420px){
	.item_check,
	.item_left,
	.item_right{
		height: 85px;
		
	}
	.item_check{
		margin: 0 12px 0 12px;
		width: 78px;
	}

}










.s_opp{
	padding: 30px;
	margin-top: 150px;

}

.s_opp_title{
	text-align: center;
	color: #fff;
	font-size: calc(30px + 20*(100vw/1450));
	margin-bottom: 50px;
}

.s_opp_item{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 30px;
}
@media (max-width: 720px){
	.s_opp_item{
		padding: 0px;
		flex-direction: row;
		justify-content: space-between;
		align-items:center;
		margin-bottom: 5px;
	}
	.opp_item_text{
		padding: 0;
		margin:0;
		text-align: left;
		line-height: 1.5;
		font-size:calc(8px + 8*(100vw/1450));
		color: #fff;
		
	
	}
	
.opp_item_img{
	margin-bottom: 0px;
	width: 60px;
	height: 60px;

}

}

.opp_item_img{
	width: 100px;
	height: 100px;

}
.opp_item_text{
	margin: 0 40px;
	max-width: 200px;
	text-align: center;
	line-height: 1.5;
	font-size:calc(8px + 8*(100vw/1450));
	color: #fff;

}
.pc{
	width: 80px;
	height: 80px;
	background: url("../components/img/gaming-pc.webp") 0 0/contain no-repeat;
}
.chairs{
	
	background: url("../components/img/gaming-chair.webp") 0 0/contain no-repeat;
}
.internet{
	width: 80px;
	height: 80px;
	background: url("../components/img/internet.webp") 0 0/contain no-repeat;
}

.devices{
	width: 80px;
	height: 80px;
	background: url("../components/img/computer-mouse.webp") 0 0/contain no-repeat;
}

.cond{
	background: url("../components/img/air-conditioner.webp") 0 0/contain no-repeat;
}


.cashback{
	width: 80px;
	height: 80px;
	background: url("../components/img/cashback.webp") 0 0/contain no-repeat;
}


.tour{
	background: url("../components/img/tournament.webp") 0 0/contain no-repeat;
}

